@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: var(--uiua-font);
    src: url("Uiua386.ttf");
}

:root {
    --main-font: "Chilanka";
    --uiua-font: "Uiua386";
    --main-color: #9027e6;
    --hover-color: #1e63b3;
    --success-color: #43b581;
    --danger-color: #982929;
    --url-color: var(--main-color);
    --background-color: rgb(0, 0, 0);

    --text-normal: rgb(220, 221, 222);
}

.uiua {
    font-family: var(--uiua-font)!important;
    /* border: 2px solid;
    border-radius: 10px;
    border-color: rgb(73, 73, 73); */
}

*:any-link {
    background: 
        linear-gradient(to right, var(--background-color), var(--background-color)),
        linear-gradient(to right, var(--main-color), var(--hover-color));/* rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));*/
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    background-color: transparent;
    color: var(--url-color);
    text-decoration: none;
}

*:any-link:hover {
    background-size: 0 0.1em, 100% 0.1em;
}

*:any-link:active {
    color: var(--hover-color);
}

body {
    font-family: var(--main-font);
    background: var(--background-color);
    color: var(--text-normal);
}